.resume{
    background-color: #222;
    height: 100vh;
    padding-top: 24rem;
}

.resume-main-container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9.2rem
}
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}
.resume-heading{
    align-self: center;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 3.8rem;
    display: inline-block;
    border-bottom: solid 2.5px;
    padding: 0.5rem 0;
    border-image:   linear-gradient(to right, #383838 20%, #007ced 20%, #007ced 40%, #383838 40%, #383838 100%) 5;
}

.resume-left{
    max-width: 30rem;
}

.resume-left-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.resume-left-list-item{
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fdf2e9;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    padding: 1rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 0.2rem #007ced;
    background: linear-gradient(to right, #007ced 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
}

.active-btn{
    background-position: left bottom;
}

.resume-left-list-item-icon{
    font-size: 2rem !important;
}

.resume-left-list-text{
    margin-left: 2rem;
}


/* 1200px == 75em */
@media(max-width:75em)
{
    .resume-container{
        gap:0;
    }

    .resume-left{
        display: flex;
        justify-content: center;
    }

    .resume-left-list-text{
        margin-left: 1rem;
    }

    .resume-Right{
        width: 90%;
    }

}

/* 64em = 1024px */
@media(max-width:64em){
    .resume-heading{
        font-size: 3.2rem;
    }
}


/* 47em = 752px */
@media(max-width:47em){
    .resume-container{
        grid-template-columns: 1fr;
        gap: 4rem;
        justify-items: center;
    }

    .resume-left-list{
        flex-direction: row;
        gap: 1.2rem;
    }

    .resume-left{
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 0 2rem;
    }

    .resume-left-list-item{
        border-radius: 2.5rem;
        font-size: 1.2rem;
        background-color: #fff;
    }

    .resume-Right{
        width: 80%;
    }
}    

/* 37.5em == 600px */
@media(max-width:37.5em){
    .resume-left-list-item{
        flex-direction: column;
        gap: 0.2rem;
        align-items: center;
        justify-content: center;
        border-radius: 1.2rem;
        padding: 0.5rem 0.8rem;
    }
    .resume-Right{
        width: 85%;
    }
    .resume-left-list-text{
        font-size: 1.2rem;
    }
} 

/* 32em == 512px */
@media(max-width:32em){
    .resume-left-list-item{
        padding: 0.5rem 1.6rem;
        border-radius: 2.5rem;
    }
    .resume-left-list-text{
        display: none;
    }
    .resume-left-list-item-icon{
        font-size: 3.2rem!important;
    }
}


/* 31.25em == 500px */
@media(max-width:31.25em) {
    .resume-Right{
        width: 95%;
    }
}