.resume{
    background-color: #222;
    height: 100vh;
    padding-top: 24rem;
}

.resume-main-container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9.2rem
}
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}
.resume-heading{
    align-self: center;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 3.8rem;
    display: inline-block;
    border-bottom: solid 2.5px;
    padding: 0.5rem 0;
    border-image:   linear-gradient(to right, #383838 20%, #007ced 20%, #007ced 40%, #383838 40%, #383838 100%) 5;
}

.resume-left{
    max-width: 30rem;
}

.resume-left-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.resume-left-list-item{
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fdf2e9;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    padding: 1rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 0.2rem #007ced;
    background: linear-gradient(to right, #007ced 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
}

.active-btn{
    background-position: left bottom;
}

.resume-left-list-item-icon{
    font-size: 2rem !important;
}

.resume-left-list-text{
    margin-left: 2rem;
}
