.about{
    padding: 12rem 0;
    background-color: #222;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-main-container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.2rem
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

.about-heading{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 3.8rem;
    display: inline-block;
    border-bottom: solid 2.5px;
    padding: 0.5rem 0;
    border-image:   linear-gradient(to right, #007ced 20%, #383838 20%,  #383838 100%) 5;
}

.about-description{
    font-size: 1.8rem;
    padding: 1.6rem;
    line-height: 1.4;
    color: #a7a7a7;
    width: 100%;
    border: solid 0.2rem #383838;
    border-radius: 0.8rem;
}

.about-description-text{
    margin-bottom: 1.8rem;
}

.about-desc-last{
    margin-bottom: 0;
}

.about-container-right{
    display: flex;
    justify-content: flex-end;
}


.about-image-container{
    width: 85%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    transition: all 0.4s;
    -webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.75);
}

.about-image-container:hover{
    transform: scale(1.1);
}
.about-image{
    width: 100%;
    height: auto;
    overflow: hidden;
}


/* 1200px == 75em */
@media(max-width: 75em){
    .about-container{
        gap: 0;
    }

    .about-container-right{
        justify-content: center;
    }

    .about-container-left{
        display: flex;
        justify-content: center;
    }
}

/* 64em = 1024px */
@media(max-width:64em){
    .about-heading{
        font-size: 3.2rem;
    }
    .about-description{
        font-size: 1.6rem;
    }
}

/* 47em = 752px */
@media(max-width:47em){
    .hero-container{
        grid-template-columns: 1fr;
        gap: 9.2rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        gap: 9.2rem
    }

    .about-description{
        width: 65%;
    }
    .about-image-container{
        width: 60%;
    }
   .about-container-right{
        grid-row: 1
    }
    .about-container-left{
        grid-row: 2;
    } 
}    

