.project{
    /* padding: 12rem 0; */
    background-color: #222;
    height: 100vh;
    display: flex;
    align-items: center;
} 

.project-main-container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.2rem
}

.project-heading{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 3.8rem;
    display: inline-block;
    border-bottom: solid 2.5px;
    padding: 0.5rem 0;
    border-image:   linear-gradient(to right, #383838 40%, #007ced 40%, #007ced 60%, #383838 60%, #383838 100%) 5;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 3.2rem
}

.product-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.product-wrapper .product-name{
    font-size: 1.6rem;
    color: #a7a7a7;
    font-weight: 500;

}

